{% extends 'layout.html.twig' %}

{% block body %}
    <h1>List des parkings</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Espaces de parkings</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parking in parkings %}
            <tr>
                <td><a href="{{ path('parking_show', { 'id': parking.id }) }}">{{ parking.id }}</a></td>
                <td>{{ parking.parkingSpace }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('parking_show', { 'id': parking.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('parking_edit', { 'id': parking.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('parking_new') }}">Ajouter un parking</a>
        </li>
    </ul>
{% endblock %}
