{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Liste des parkings</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre de places</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parking in parkings %}
            <tr>
                <td><a href="{{ path('parking_show', { 'id': parking.id }) }}">{{ parking.id }}</a></td>
                <td>{{ parking.parkingSpace }}</td>
                <td class="text-center">
                    <div class="btn-group">
                        <a class="btn btn-default"
                           href="{{ path('parking_show', { 'id': parking.id }) }}">
                            <i class="si si-eye">
                            </i>
                        </a>
                        <a class="btn btn-default"
                           href="{{ path('parking_edit', { 'id': parking.id }) }}">
                            <i class="fa fa-pencil">
                            </i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success"
       href="{{ path('parking_new') }}">Ajouter un parking
    </a>
{% endblock %}
