{% extends 'layout.html.twig' %}

{% block body %}
    <h1>liste des bâtiments</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Année de contruction</th>
                <th>Constructeur</th>
                <th>catégorie</th>
                <th>Classe enegetique</th>
                <th>Nombre d'appartements</th>
                <th>Nombre d'étages</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for building in buildings %}
            <tr>
                <td>{{ building.name }}</td>
                <td>{{ building.constructionYear }}</td>
                <td>{{ building.constructor }}</td>
                <td>{{ building.category }}</td>
                <td>{{ building.energyClass }}</td>
                <td>{{ building.unitsNumber }}</td>
                <td>{{ building.floorsNumber }}</td>
                <td class="text-center">
                    <div class="btn-group">
                        <a class="btn btn-default"
                           href="{{ path('building_show', { 'id': building.id }) }}">
                            <i class="si si-eye">
                            </i>
                        </a>
                        <a class="btn btn-default"
                           href="{{ path('building_edit', { 'id': building.id }) }}">
                            <i class="fa fa-pencil">
                            </i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success"
       href="{{ path('building_new') }}">Ajouter un bâtiment
    </a>
{% endblock %}
