{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Bâtiments</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ building.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ building.name }}</td>
            </tr>
            <tr>
                <th>Année de construction</th>
                <td>{{ building.constructionYear }}</td>
            </tr>
            <tr>
                <th>Constructeur</th>
                <td>{{ building.constructor }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ building.category }}</td>
            </tr>
            <tr>
                <th>Classe énergétique</th>
                <td>{{ building.energyClass }}</td>
            </tr>
            <tr>
                <th>Nombres de lots</th>
                <td>{{ building.unitsNumber }}</td>
            </tr>
            <tr>
                <th>Nombres de planchers</th>
                <td>{{ building.floorsNumber }}</td>
            </tr>
        </tbody>
    </table>
    <div class="block-content block-content-mini block-content-full border-t">
        <div class="row">
            <div class="col-xs-4">
                <a href="{{ path('building_index') }}" class="wizard-prev btn btn-warning">Retour à la liste</a>
            </div>
            <div class="col-xs-4 text-center">
                {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger" >
                {{ form_end(delete_form) }}
            </div>
            <div class="col-xs-4 text-right">
                <a class="btn btn-success"
                        href="{{ path('building_edit', { 'id': building.id }) }}">Modifier</a>
            </div>
        </div>
    </div>
{% endblock %}
