{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Listes des syndics</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Mail</th>
                <th>Gestionnaire de copropriété</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for syndicate in syndicates %}
            <tr>
                <td><a href="{{ path('syndicate_show', { 'id': syndicate.id }) }}">{{ syndicate.id }}</a></td>
                <td>{{ syndicate.name }}</td>
                <td>{{ syndicate.address }}</td>
                <td>{{ syndicate.phone }}</td>
                <td>{{ syndicate.email }}</td>
                <td>{{ syndicate.condominiumManager }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('syndicate_show', { 'id': syndicate.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('syndicate_edit', { 'id': syndicate.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('syndicate_new') }}">Créer un nouveau syndic</a>
        </li>
    </ul>
{% endblock %}
