{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Syndicat de copropriété</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ syndicate.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ syndicate.name }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ syndicate.address }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ syndicate.phone }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ syndicate.email }}</td>
            </tr>
            <tr>
                <th>Gestionnaire de copropriétés</th>
                <td>{{ syndicate.condominiumManager }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('syndicate_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('syndicate_edit', { 'id': syndicate.id }) }}">Modifier</a>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
