{% extends 'layout.html.twig' %}

{% block body %}
    <h1>List des communs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for common in commons %}
            <tr>
                <td><a href="{{ path('common_show', { 'id': common.id }) }}">{{ common.id }}</a></td>
                <td>{{ common.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('common_show', { 'id': common.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('common_edit', { 'id': common.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('common_new') }}">Ajouter un commun</a>
        </li>
    </ul>
{% endblock %}
