{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Commun</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ common.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ common.name }}</td>
            </tr>
        </tbody>
    </table>
    <div class="block-content block-content-mini block-content-full border-t">
        <div class="row">
            <div class="col-xs-4">
                <a href="{{ path('common_index') }}" class="wizard-prev btn btn-warning">Retour à la liste</a>
            </div>
            <div class="col-xs-4 text-center">
                {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger" >
                {{ form_end(delete_form) }}
            </div>
            <div class="col-xs-4 text-right">
                <a class="btn btn-success"
                   href="{{ path('common_edit', { 'id': common.id }) }}">Modifier</a>
            </div>
        </div>
    </div>
{% endblock %}
