{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Listes des intervenants</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Téléphone</th>
                <th>Compétences</th>
                <th>Adresse</th>
                <th>Mail</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for worker in workers %}
            <tr>
                <td><a href="{{ path('worker_show', { 'id': worker.id }) }}">{{ worker.id }}</a></td>
                <td>{{ worker.lastName }}</td>
                <td>{{ worker.firstName }}</td>
                <td>{{ worker.phone }}</td>
                <td>{{ worker.competence }}</td>
                <td>{{ worker.address }}</td>
                <td>{{ worker.email }}</td>
                <td class="text-center">
                    <div class="btn-group">
                        <a class="btn btn-default"
                           href="{{ path('worker_show', { 'id': worker.id }) }}">
                            <i class="si si-eye">
                            </i>
                        </a>
                        <a class="btn btn-default"
                           href="{{ path('worker_edit', { 'id': worker.id }) }}">
                            <i class="fa fa-pencil">
                            </i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('worker_new') }}">Ajouter un ouvrier</a>
        </li>
    </ul>
{% endblock %}
