{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Listes des intervenants</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Téléphone</th>
                <th>Compétences</th>
                <th>Adresse</th>
                <th>Mail</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for worker in workers %}
            <tr>
                <td><a href="{{ path('worker_show', { 'id': worker.id }) }}">{{ worker.id }}</a></td>
                <td>{{ worker.lastName }}</td>
                <td>{{ worker.firstName }}</td>
                <td>{{ worker.phone }}</td>
                <td>{{ worker.competence }}</td>
                <td>{{ worker.address }}</td>
                <td>{{ worker.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('worker_show', { 'id': worker.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('worker_edit', { 'id': worker.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('worker_new') }}">Create a new worker</a>
        </li>
    </ul>
{% endblock %}
