{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Workers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Phone</th>
                <th>Competence</th>
                <th>Adress</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for worker in workers %}
            <tr>
                <td><a href="{{ path('worker_show', { 'id': worker.id }) }}">{{ worker.id }}</a></td>
                <td>{{ worker.lastName }}</td>
                <td>{{ worker.firstName }}</td>
                <td>{{ worker.phone }}</td>
                <td>{{ worker.competence }}</td>
                <td>{{ worker.adress }}</td>
                <td>{{ worker.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('worker_show', { 'id': worker.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('worker_edit', { 'id': worker.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('worker_new') }}">Create a new worker</a>
        </li>
    </ul>
{% endblock %}
