{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Intervenant</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ worker.lastName }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ worker.firstName }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ worker.phone }}</td>
            </tr>
            <tr>
                <th>Competence</th>
                <td>{{ worker.competence }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ worker.address }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ worker.email }}</td>
            </tr>
        </tbody>
    </table>
    <div class="block-content block-content-mini block-content-full border-t">
        <div class="row">
            <div class="col-xs-4">
                <a href="{{ path('worker_index') }}" class="wizard-prev btn btn-warning">Retour à la liste</a>
            </div>
            <div class="col-xs-4 text-center">
                {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger" >
                {{ form_end(delete_form) }}
            </div>
            <div class="col-xs-4 text-right">
                <a class="btn btn-success"
                   href="{{ path('worker_edit', { 'id': worker.id }) }}">Modifier</a>
            </div>
        </div>
    </div>
{% endblock %}
