<!-- Sidebar -->
<nav id="sidebar">
    <!-- Sidebar Scroll Container -->
    <div id="sidebar-scroll">
        <!-- Sidebar Content -->
        <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
        <div class="sidebar-content">
            <!-- Side Header -->

            <div class="side-header side-content bg-white-op">
                <div class="img" style="background-image: url('{{ asset('img/photos/syndic.jpg') }}');"></div>
            </div>
        </div>
            <!-- END Side Header -->

            <!-- Side Content -->
            <div class="side-content side-content-full">
                <ul class="nav-main">
                    <li>
                        <a href="{{ path('homepage') }}"><span class="sidebar-mini-hide"><h2>Logo</h2></span></a>
                    </li>
                    <li>
                        <a href="base_ui_widgets.html"><i class="fa fa-flash"></i>Demander une intervention</a>
                    </li>
                    <li>
                        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="fa fa-file-text-o">
                            </i>Mes informations</a>
                        <ul>
                            <li>
                                <a href="base_ui_blocks.html">Mon compte</a>
                            </li>
                            <li>
                                <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="fa fa-file-text-o">
                                    </i>Mes copropriétés</a>
                                <ul>
                                    <li>
                                        <a href="{{ path('building_index') }}">Bâtiment</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('common_index') }}">Commun</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('component_index') }}">Composant</a>

                                    </li>
                                    <li>
                                        <a href="{{ path('condominium_index') }}">Copripriétés </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('intervention_index') }}">Interventions</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('parking_index') }}">Parking</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('syndicate_index') }}">Syndic</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('unit_index') }}">Unité</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('user_index') }}">Utilisateur</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('worker_index') }}">Worker</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href= {{ path("intervention_index") }} ><i class="fa fa-folder-open-o"></i>Historique des interventions</a>
                            </li>
                            <li>
                                <a href="{{ path('condominium_new') }}"><i class="si si-pencil"></i>
                                    Ajouter une copropriété</a>
                            </li>
                            <li>
                                <a href="{{ path('contact_index') }}"><i class="fa fa-envelope-o"></i>Nous contacter</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- END Side Content -->
    </div>
    <!-- END Sidebar Scroll Container -->
</nav>
<!-- END Sidebar -->
