{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ficheintervention</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ficheIntervention.id }}</td>
            </tr>
            <tr>
                <th>Avancement</th>
                <td>{{ ficheIntervention.avancement }}</td>
            </tr>
            <tr>
                <th>Typeintervention</th>
                <td>{{ ficheIntervention.typeIntervention }}</td>
            </tr>
            <tr>
                <th>Fourniture</th>
                <td>{{ ficheIntervention.fourniture }}</td>
            </tr>
            <tr>
                <th>Urgence</th>
                <td>{{ ficheIntervention.urgence }}</td>
            </tr>
            <tr>
                <th>Descriptif</th>
                <td>{{ ficheIntervention.descriptif }}</td>
            </tr>
            <tr>
                <th>Datedemande</th>
                <td>{% if ficheIntervention.dateDemande %}{{ ficheIntervention.dateDemande|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateintervention</th>
                <td>{% if ficheIntervention.dateIntervention %}{{ ficheIntervention.dateIntervention|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datemodification</th>
                <td>{% if ficheIntervention.dateModification %}{{ ficheIntervention.dateModification|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Paid</th>
                <td>{% if ficheIntervention.paid %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Satisfactionclient</th>
                <td>{{ ficheIntervention.satisfactionClient }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ ficheIntervention.commentaire }}</td>
            </tr>
            <tr>
                <th>Nombreintervenants</th>
                <td>{{ ficheIntervention.nombreIntervenants }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{% if ficheIntervention.duree %}{{ ficheIntervention.duree|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ficheintervention_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ficheintervention_edit', { 'id': ficheIntervention.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
