<table class="table table-striped table-borderless table-header-bg">
    <thead>
    <tr>
        <th>Lieu</th>
        <th>Type d'intervention</th>
        <th>Niveau d'urgence</th>
        <th>Date de demande</th>
        <th>Date d'intervention</th>
        <th>Régler</th>
        {% if is_granted('ROLE_ADMIN') %}
            <th>Avis</th>
        {% endif %}
        <th>Progression</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for intervention in interventions %}
        <tr>
            <td>
                {% if intervention.condominium is not empty %}
                    {{ intervention.condominium.name }}
                {% endif %}
            </td>
            <td>{{ intervention.interventionType|trans}}</td>
            <td>
                    <span class="label label-{{ intervention.emergency }}">
                        {{ intervention.emergency|trans }}
                    </span>
            </td>
            <td>{% if intervention.requestDate %}{{ intervention.requestDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if intervention.interventionDate %}{{ intervention.interventionDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td><span class="label label-{% if intervention.paid %}paid{% else %}unpaid{% endif %}"><i
                            class="fa fa-dollar fa-2x"></i></span></td>
            {% if is_granted('ROLE_ADMIN') %}
                <td>{{ intervention.clientSatisfaction }}</td>
            {% endif %}
            <td>{{ intervention.progress }}</td>
            <td class="text-center">
                <div class="btn-group">
                    <a class="btn btn-default"
                       href="{{ path('intervention_show', { 'id': intervention.id }) }}">
                        <i class="si si-eye">

                        </i>
                    </a>
                    <a class="btn btn-default"
                       href="{{ path('intervention_edit', { 'id': intervention.id }) }}">
                        <i class="fa fa-pencil">

                        </i>
                    </a>
                </div>
            </td>
        </tr>
    {% else %}
        <tr><td colspan="9">{{ 'no intervention to display'|trans }}</td></tr>
    {% endfor %}
    </tbody>
</table>