{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Interventions</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ intervention.id }}</td>
            </tr>
            <tr>
                <th>Progression</th>
                <td>{{ intervention.progress }}</td>
            </tr>
            <tr>
                <th>Type d'intervention</th>
                <td>{{ intervention.interventionType }}</td>
            </tr>
            <tr>
                <th>Équipement</th>
                <td>{{ intervention.material }}</td>
            </tr>
            <tr>
                <th>Niveau d'urgence</th>
                <td>{{ intervention.emergency }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ intervention.description }}</td>
            </tr>
            <tr>
                <th>Date de la demande</th>
                <td>{% if intervention.requestDate %}{{ intervention.requestDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date d'intervention</th>
                <td>{% if intervention.interventionDate %}{{ intervention.interventionDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dernière édition</th>
                <td>{% if intervention.modificationDate %}{{ intervention.modificationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Régler</th>
                <td>{% if intervention.paid %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Niveau de satisfaction</th>
                <td>{{ intervention.clientSatisfaction }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ intervention.comment }}</td>
            </tr>
            <tr>
                <th>Téléphone intervenant</th>
                <td>{{ intervention.workerNumber }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{% if intervention.duration %}{{ intervention.duration|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('intervention_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('intervention_edit', { 'id': intervention.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
