{% extends 'layout.html.twig' %}

{% block body %}
    <div class="block">
        <div class="block-header">
            <ul class="block-options">
                <li>
                    <!-- Print Page functionality is initialized in App() -> uiHelperPrint() -->
                    <button type="button" onclick="App.initHelper('print-page');"><i class="si si-printer"></i> Imprimer
                    </button>
                </li>
            </ul>
            <h3 class="block-title">#INTER{{ intervention.id }}</h3>
        </div>
        <div class="block-content block-content-narrow">
            <!-- Invoice Info -->
            <div class="h1 text-center push-30-t push-30 hidden-print">Intervention</div>
            <hr class="hidden-print">
            <div class="row items-push-2x">
                <!-- Company Info -->
                <div class="col-xs-6 col-sm-4 col-lg-3">
                    <p class="h2 font-w400 push-5">{{ intervention.condominium.name }}</p>
                    <address>
                        {{ intervention.condominium.address }}
                    </address>
                </div>
                <!-- END Company Info -->

                <!-- Client Info -->
                <div class="col-xs-6 col-sm-5 col-sm-offset-3 col-lg-5 col-lg-offset-4 text-right">
                    <p class="h2 font-w400 push-5">Lieu d'intervention</p>
                    {% if intervention.common is not empty %}
                        {{ intervention.common.name }}
                    {% endif %}
                    {% if intervention.unit is not empty %}
                        <address>
                            {{ intervention.unit.firstName }} {{ intervention.unit.lastName }}
                            <br>
                            Porte n°{{ intervention.unit.number }}
                            <br>
                            Etg. {{ intervention.unit.floor }}
                        </address>
                    {% endif %}
                    {% if intervention.parking is not empty %}
                        {{ intervention.parking.name }}
                    {% endif %}
                </div>
                <!-- END Client Info -->
            </div>
            <!-- END Invoice Info -->

            <!-- Table -->
            <div class="table-responsive push-50">
                <table class="table table-bordered table-hover">
                    <tbody>
                    <tr class="hidden-print">
                        <th>Progression</th>
                        <td>{{ intervention.progress|trans }}</td>
                    </tr>
                    <tr>
                        <th>Type d'intervention</th>
                        <td>{{ intervention.interventionType|trans }}</td>
                    </tr>
                    {% if is_granted('ROLE_ADMIN') %}
                        <tr>
                            <th>Équipement</th>
                            <td>{{ intervention.material }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Niveau d'urgence</th>
                        <td>{{ intervention.emergency|trans }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ intervention.description }}</td>
                    </tr>
                    <tr>
                        <th>Date de la demande</th>
                        <td>{% if intervention.requestDate %}{{ intervention.requestDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Date d'intervention</th>
                        <td>{% if intervention.interventionDate %}{{ intervention.interventionDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>

                    {% if is_granted('ROLE_ADMIN') %}
                        <tr>
                            <th>Dernière édition</th>
                            <td>{% if intervention.modificationDate %}{{ intervention.modificationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Réglée</th>
                        <td>{% if intervention.paid %}Oui{% else %}Non{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Niveau de satisfaction</th>
                        <td>{{ intervention.clientSatisfaction }}</td>
                    </tr>
                    <tr>
                        <th>Commentaire</th>
                        <td>{{ intervention.comment }}</td>
                    </tr>
                    {% if intervention.worker is not empty %}
                        <tr>
                            <th>Téléphone intervenant</th>
                            <td><a href="tel:{{ intervention.worker.phone }}">{{ intervention.worker.phone }}</a></td>
                        </tr>
                    {% endif %}
                    {% if intervention.duration %}
                        <tr>
                            <th>Durée</th>
                            <td>{{ intervention.duration }}</td>
                        </tr>
                    {% endif %}
                    <tr class="visible-print">
                        <th>Signature</th>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- END Table -->

            <!-- Footer -->
            <hr class="hidden-print">
            <p class="text-muted text-center">
                <small>Thank you very much for doing business with us. We look forward to working with you again!
                </small>
            </p>
            <!-- END Footer -->
        </div>
        <div class="block-content block-content-mini block-content-full border-t hidden-print">
            <div class="row">
                <div class="col-xs-4">
                    <a href="{{ path('intervention_index', {'progress':'a-venir'}) }}"
                       class="wizard-prev btn btn-warning">Retour
                        à la liste</a>
                </div>
                <div class="col-xs-4 text-center">
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Supprimer" class="btn btn-danger">
                    {{ form_end(delete_form) }}
                </div>
                <div class="col-xs-4 text-right">
                    <a class="btn btn-success"
                       href="{{ path('intervention_edit', { 'id': intervention.id }) }}">Modifier</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
