{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Listes des copropriétés</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Gestionnaire de copropriété</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Message publique</th>
                <th>Message privé </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for condominium in condominia %}
            <tr>
                <td><a href="{{ path('condominium_show', { 'id': condominium.id }) }}">{{ condominium.id }}</a></td>
                <td>{{ condominium.name }}</td>
                <td>{{ condominium.address }}</td>
                <td>{{ condominium.condominiumManager }}</td>
                <td>{{ condominium.phone }}</td>
                <td>{{ condominium.email }}</td>
                <td>{{ condominium.publicMessage }}</td>
                <td>{{ condominium.privateMessage }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('condominium_show', { 'id': condominium.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('condominium_edit', { 'id': condominium.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('condominium_new') }}">Ajouter une copropiétée</a>
        </li>
    </ul>
{% endblock %}
