{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Condominia list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Gestionnaire de copropriétés</th>
                <th>Téléphone</th>
                <th>Mail</th>
                <th>Message public</th>
                <th>Message privé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for condominium in condominia %}
            <tr>
                <td><a href="{{ path('condominium_show', { 'id': condominium.id }) }}">{{ condominium.id }}</a></td>
                <td>{{ condominium.name }}</td>
                <td>{{ condominium.address }}</td>
                <td>{{ condominium.condominiumManager }}</td>
                <td>{{ condominium.phone }}</td>
                <td>{{ condominium.email }}</td>
                <td>{{ condominium.publicMessage }}</td>
                <td>{{ condominium.privateMessage }}</td>
                <td class="text-center">
                    <div class="btn-group">
                        <a class="btn btn-default"
                           href="{{ path('intervention_show', { 'id': condominium.id }) }}">
                            <i class="si si-eye">
                            </i>
                        </a>
                        <a class="btn btn-default"
                           href="{{ path('intervention_edit', { 'id': condominium.id }) }}">
                            <i class="fa fa-pencil">
                            </i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('condominium_new') }}" class="btn btn-success">Ajouter une copropiété</a>
{% endblock %}
