{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Ajouter une Copropriétée</h1>

    {{ form_start(form) }}
        {{ form_row(form.syndicate) }}
        {{ form_widget(form) }}

        <div class="block-content block-content-mini block-content-full border-t">
            <div class="row">
                <div class="col-xs-6">
                    <a href="{{ path('condominium_index') }}" class="wizard-prev btn btn-warning">Retour à la liste</a>
                </div>
                <div class="col-xs-6 text-right">
                    <input type="submit" class="btn btn-success" value="Modifier" />
                </div>
            </div>
        </div>
    {{ form_end(form) }}


{% endblock %}
