{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Copropriétés</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ condominium.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ condominium.name }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ condominium.address }}</td>
            </tr>
            <tr>
                <th>Gestionnaire de copropiété</th>
                <td>{{ condominium.condominiumManager }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ condominium.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ condominium.email }}</td>
            </tr>
            <tr>
                <th>Message public</th>
                <td>{{ condominium.publicMessage }}</td>
            </tr>
            <tr>
                <th>Message privé</th>
                <td>{{ condominium.privateMessage }}</td>
            </tr>
        </tbody>
    </table>
    <div class="block-content block-content-mini block-content-full border-t">
        <div class="row">
            <div class="col-xs-4">
                <a href="{{ path('condominium_index') }}" class="wizard-prev btn btn-warning">Retour à la liste</a>
            </div>
            <div class="col-xs-4 text-center">
                {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger" >
                {{ form_end(delete_form) }}
            </div>
            <div class="col-xs-4 text-right">
                <a class="btn btn-success"
                   href="{{ path('condominium_edit', { 'id': condominium.id }) }}">Modifier</a>
            </div>
        </div>
    </div>
{% endblock %}
