{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Copropriétées</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ condominium.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ condominium.name }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ condominium.address }}</td>
            </tr>
            <tr>
                <th>Gestionnaire de copropiétée</th>
                <td>{{ condominium.condominiumManager }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ condominium.phone }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ condominium.email }}</td>
            </tr>
            <tr>
                <th>Message publique</th>
                <td>{{ condominium.publicMessage }}</td>
            </tr>
            <tr>
                <th>Message privée</th>
                <td>{{ condominium.privateMessage }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('condominium_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('condominium_edit', { 'id': condominium.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
