{% extends 'base.html.twig' %}

{% block body %}
    <h1>Element</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ element.id }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ element.categorie }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ element.type }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ element.photo }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ element.reference }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('element_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('element_edit', { 'id': element.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
