{% extends 'base.html.twig' %}

{% block body %}
    <h1>Interventionsheets list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Progress</th>
                <th>Interventiontype</th>
                <th>Material</th>
                <th>Emergency</th>
                <th>Description</th>
                <th>Requestdate</th>
                <th>Interventiondate</th>
                <th>Modificationdate</th>
                <th>Paid</th>
                <th>Clientsatisfaction</th>
                <th>Comment</th>
                <th>Workernumber</th>
                <th>Duration</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for interventionSheet in interventionSheets %}
            <tr>
                <td><a href="{{ path('interventionsheet_show', { 'id': interventionSheet.id }) }}">{{ interventionSheet.id }}</a></td>
                <td>{{ interventionSheet.progress }}</td>
                <td>{{ interventionSheet.interventionType }}</td>
                <td>{{ interventionSheet.material }}</td>
                <td>{{ interventionSheet.emergency }}</td>
                <td>{{ interventionSheet.description }}</td>
                <td>{% if interventionSheet.requestDate %}{{ interventionSheet.requestDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if interventionSheet.interventionDate %}{{ interventionSheet.interventionDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if interventionSheet.modificationDate %}{{ interventionSheet.modificationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if interventionSheet.paid %}Yes{% else %}No{% endif %}</td>
                <td>{{ interventionSheet.clientSatisfaction }}</td>
                <td>{{ interventionSheet.comment }}</td>
                <td>{{ interventionSheet.workerNumber }}</td>
                <td>{% if interventionSheet.duration %}{{ interventionSheet.duration|date('H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('interventionsheet_show', { 'id': interventionSheet.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('interventionsheet_edit', { 'id': interventionSheet.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('interventionsheet_new') }}">Create a new interventionSheet</a>
        </li>
    </ul>
{% endblock %}
