{% extends 'base.html.twig' %}

{% block body %}
    <h1>Interventionsheet</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ interventionSheet.id }}</td>
            </tr>
            <tr>
                <th>Progress</th>
                <td>{{ interventionSheet.progress }}</td>
            </tr>
            <tr>
                <th>Interventiontype</th>
                <td>{{ interventionSheet.interventionType }}</td>
            </tr>
            <tr>
                <th>Material</th>
                <td>{{ interventionSheet.material }}</td>
            </tr>
            <tr>
                <th>Emergency</th>
                <td>{{ interventionSheet.emergency }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ interventionSheet.description }}</td>
            </tr>
            <tr>
                <th>Requestdate</th>
                <td>{% if interventionSheet.requestDate %}{{ interventionSheet.requestDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Interventiondate</th>
                <td>{% if interventionSheet.interventionDate %}{{ interventionSheet.interventionDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modificationdate</th>
                <td>{% if interventionSheet.modificationDate %}{{ interventionSheet.modificationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Paid</th>
                <td>{% if interventionSheet.paid %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Clientsatisfaction</th>
                <td>{{ interventionSheet.clientSatisfaction }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ interventionSheet.comment }}</td>
            </tr>
            <tr>
                <th>Workernumber</th>
                <td>{{ interventionSheet.workerNumber }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{% if interventionSheet.duration %}{{ interventionSheet.duration|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('interventionsheet_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('interventionsheet_edit', { 'id': interventionSheet.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
