{% extends 'base.html.twig' %}

{% block body %}
    <h1>Coproprietes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Chargecopropriete</th>
                <th>Telephone</th>
                <th>Mail</th>
                <th>Messagepublic</th>
                <th>Messageprive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for copropriete in coproprietes %}
            <tr>
                <td><a href="{{ path('copropriete_show', { 'id': copropriete.id }) }}">{{ copropriete.id }}</a></td>
                <td>{{ copropriete.nom }}</td>
                <td>{{ copropriete.adresse }}</td>
                <td>{{ copropriete.chargeCopropriete }}</td>
                <td>{{ copropriete.telephone }}</td>
                <td>{{ copropriete.mail }}</td>
                <td>{{ copropriete.messagePublic }}</td>
                <td>{{ copropriete.messagePrive }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('copropriete_show', { 'id': copropriete.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('copropriete_edit', { 'id': copropriete.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('copropriete_new') }}">Create a new copropriete</a>
        </li>
    </ul>
{% endblock %}
