{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Liste des lots</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre de lot</th>
                <th>Sol</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>téléphone</th>
                <th>Mail</th>
                <th>Commentaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for unit in units %}
            <tr>
                <td><a href="{{ path('unit_show', { 'id': unit.id }) }}">{{ unit.id }}</a></td>
                <td>{{ unit.number }}</td>
                <td>{{ unit.floor }}</td>
                <td>{{ unit.lastName }}</td>
                <td>{{ unit.firstName }}</td>
                <td>{{ unit.phone }}</td>
                <td>{{ unit.email }}</td>
                <td>{{ unit.comment }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('unit_show', { 'id': unit.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('unit_edit', { 'id': unit.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('unit_new') }}">Ajouter un lot</a>
        </li>
    </ul>
{% endblock %}
