{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Unit</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ unit.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ unit.number }}</td>
            </tr>
            <tr>
                <th>Sol</th>
                <td>{{ unit.floor }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ unit.lastName }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ unit.firstName }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ unit.phone }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ unit.email }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ unit.comment }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('unit_index') }}">Retour à la  liste</a>
        </li>
        <li>
            <a href="{{ path('unit_edit', { 'id': unit.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
