{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Lots</h1>

    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ unit.number }}</td>
            </tr>
            <tr>
                <th>Sol</th>
                <td>{{ unit.floor }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ unit.lastName }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ unit.firstName }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ unit.phone }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ unit.email }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ unit.comment }}</td>
            </tr>
        </tbody>
    </table>
    <div class="block-content block-content-mini block-content-full border-t">
        <div class="row">
            <div class="col-xs-4">
                <a href="{{ path('unit_index') }}" class="wizard-prev btn btn-warning">Retour à la liste</a>
            </div>
            <div class="col-xs-4 text-center">
                {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger" >
                {{ form_end(delete_form) }}
            </div>
            <div class="col-xs-4 text-right">
                <a class="btn btn-success"
                   href="{{ path('unit_edit', { 'id': unit.id }) }}">Modifier</a>
            </div>
        </div>
    </div>
{% endblock %}
