{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Listes des équipements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Catégorie</th>
                <th>Type</th>
                <th>Photo</th>
                <th>Référence</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for component in components %}
            <tr>
                <td><a href="{{ path('component_show', { 'id': component.id }) }}">{{ component.id }}</a></td>
                <td>{{ component.category }}</td>
                <td>{{ component.type }}</td>
                <td>{{ component.photo }}</td>
                <td>{{ component.reference }}</td>
                <td class="text-center">
                    <div class="btn-group">
                        <a class="btn btn-default"
                           href="{{ path('component_show', { 'id': component.id }) }}">
                            <i class="si si-eye">
                            </i>
                        </a>
                        <a class="btn btn-default"
                           href="{{ path('component_edit', { 'id': component.id }) }}">
                            <i class="fa fa-pencil">
                            </i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success"
       href="{{ path('component_new') }}">Ajouter un composant
    </a>
{% endblock %}
