{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Composants</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ component.id }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ component.category }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ component.type }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ component.photo }}</td>
            </tr>
            <tr>
                <th>Référence</th>
                <td>{{ component.reference }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('component_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('component_edit', { 'id': component.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
