<div class="row text-center">
    <div class="col-sm-12 col-md-6">
        <a class="block block-link-hover3 text-center" href="{{ path('intervention_index', {'progress' : 'a-planifier'}) }}">
            <div class="block-content block-content-full ribbon ribbon-bookmark ribbon-danger">
                {% if newRequests > 0 %}
                <div class="ribbon-box font-w600">
                    <i class="fa fa-fw fa-exclamation-circle"></i>
                    {{ 'intervention.new_request'|transchoice(newRequests) }}
                </div>
                {% endif %}
                <div class="h1 font-w700"><i class="fa fa-calendar"></i></div>
                <p>Planifier les interventions</p>
            </div>
        </a>
    </div>
    <div class="col-sm-12 col-md-6">
        <a class="block block-link-hover3 text-center" href="{{ path('intervention_new') }}">
            <div class="block-content block-content-full">
                <div class="h1 font-w700"><i class="fa fa-pencil"></i></div>
                <p>Créer une nouvelle demande d'intervention</p>
            </div>
        </a>
    </div>
</div>
<div class="row text-center">
    <h2>Interventions du jour</h2>
</div>
<div class="row">
    {% for intervention in interventions %}
        <div class="col-sm-3">
            <div class="block block-themed">
                <div class="block-header bg-primary">
                    <ul class="block-options">
                        <li>
                            <button type="button"><i class="si si-settings"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title"></h3>
                </div>
                <div class="block-content">
                    <p>{{ intervention.description }}
                        <em>{{ intervention.interventionType }}</em></p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row text-center" style="color: #9d392b">
            <p>Aucune interventions prévues aujourd'hui</p>
        </div>
    {% endfor %}
</div>